.to-top, .to-top:hover{
    background-color: #ff6600;
    color: #ffffff;
    border: none;
}

.logo{
    width: 100%;
    background-color: transparent;
}

.logo img {
    padding-bottom: 20px;
}

.logo, .is-sticky .logo {
    height: 100%;
}

.is-sticky .logo img{
    height: 62px;
}

/*Цвет контейнера меню*/
.header .header-wrapper {
    background-color: #ff6600;
}

/* Ссылки в меню */
.sf-menu a, .sf-menu li.active > a {
    color: #ffffff;
}

/* Ховер */
.sf-menu.nav > li > a:hover:before,
.sf-menu.nav > li > a:focus:before {
    background-color: transparent;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 54px;
}

.sf-menu a:hover {
    color: #ffffff;
}

.sf-menu li.active{
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 54px;
}

a:not(.btn-theme):hover, a:not(.btn-theme):active, a:not(.btn-theme):focus {
    color: #ffffff;
}

/* Слайдер */
.main-slider .btn-theme{
    border-color: #ff6600;
    background-color: #ff6600;
}

.main-slider .btn-theme:hover{
    background-color: #14181c;
    border-color: #14181c;
}

.main-slider .caption-subtitle{
    font-size: 50px;
}

/* Калькулятор */
.main-slider .form-search .form-title {
    background: #ff6600;
}

.main-slider .form-search.light .form-title .fa {
    font-size: 30px;
    line-height: 20px;
}

.main-slider .form-search .form-title:after {
    border-top: 8px solid #ff6600;
}

.min-arenda-days{
    font-size: 13px;
}

/* Картинка слайдера */
/*.main-slider .slide2 {
    background-image: url(../images/main-slider-image.jpg);
}*/

/* Мы предлагаем */
.thumbnail-car-card .caption-title {
    font-size: 20px;
    font-weight: 700;
}

.thumbnail-car-card .caption-title a:hover{
    color: black;
}

.thumbnail .media-link:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.eftgroup-logo{
   position: relative;
    z-index: 9999;
}

.eftgroup-logo img{
    height: 70px;
}

.is-sticky .eftgroup-logo img{
    height: 35px;
}

.img-center{
    margin: 0 auto;
}

table.device-info tr td:nth-child(1){
    width: 350px;
    font-weight: 700;
}

.block-title.alt{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.13);
}

.block-title.alt:after{
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #a5abb7;
    border-left: 1px solid;
    padding: 9px;
    margin: -10px;
    position: relative;
    left: 60px;
}

.block-title.alt.collapsed:after {
    content: "\e080";
}

.input-group-btn button.arenda-minus{
    border-right-width: 0;
}

.swiper-button-prev, .swiper-button-next {
  line-height: 35px;
}

/* Условия аренды */
a.no-hover-underline{
    text-decoration: underline;
}

a.no-hover-underline:hover{
    color: #ff6600;
}

/* Контакты */
.other-contacts{
    background: #ff6600;
    padding: 15px;
    float: right;
    width: 86%;
}

.other-contacts p {
    color: #fff;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #fff;
}
.other-contacts li {
    margin-bottom: 5px;
}

.other-contacts a{
    color: #fff;
}

.other-contacts a.active, .other-contacts a:hover{
    text-decoration: underline;
}

.other-contacts a {
    font-size: 14px;
}
/* Контакты */

@media (min-width: 1200px) {
    .sf-menu li:nth-child(5) {
        margin-right: 150px;
    }
}

@media (max-width: 991px) {
    .logo img {
        max-width: none;
        height: 72px;
    }

    a.menu-toggle{
        color: white;
    }

    .eftgroup-logo{
        display: none;
    }

    .main-slider .caption-subtitle {
        font-size: 20px;
    }

    .main-slider .caption-text{
        font-size: 16px;
    }
}

@media (max-width : 768px) {
    .other-contacts{
        float: none;
        width: 100%;
    }
}

.menu-wrap{
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
    background: #ff6600;
    left: 50px;
}

.header .header-wrapper > .container.top-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    vertical-align: middle;
}

.sf-menu.nav > li {
    background-color: #ff6600;
}

.sf-menu.nav > li > a {
    padding: 15px;
    font-size: 14px;
}

@media (min-width : 992px) and (max-width: 1200px) {
    .sf-menu.nav > li > a {
        font-size: 12px;
    }
    .menu-wrap{
        left: 0;
    }
}

@media (max-width : 992px) {
    .header .header-wrapper > .container.top-menu{
        position: relative;
        top: 0;
    }
    .menu-wrap{
        margin: 0;
        padding: 0;
    }

    .header .header-wrapper {
        background-color: rgba(131, 131, 131, 0);
    }

    a.menu-toggle {
        color: #ff6600;
        border-color: #ff6600;
    }
}

@media (max-width: 1366px){
    .swiper .swiper-button-next{
        right: -40px;
    }
    .swiper .swiper-button-prev {
        left: -40px;
    }
}

.div-cell{
    padding-top: 10%;
}

.page-section.breadcrumbs .page-header{
    padding-top: 100px;
}

.font-big{
    font-size: 24px;
}

.orange{
    color: #ff6600;
}

/* стрелки слайдера */
.swiper-button-prev, .swiper-button-next{
    width: auto;
    height: auto;
    border: none;
}

.swiper-button-prev .fa, .swiper-button-next .fa{
    color: #ff6600;
    font-size: 72px;
}
/* стрелки слайдера */

button.selectpicker{
    border: none;
}

.font-size-13{
    font-size: 13px;
}

.contact-info a{
    color: #ff6000 !important;
}

.contact-info h2{
    margin-top: 0;
}

.no-margin-right{
    margin-right: 0;
}

.page-section.breadcrumbs .page-header h1 {
    font-size: 50px;
}

.img-carousel .owl-item img {
    width: 651px;
    height: 463px;
    object-fit: contain;
    -o-object-fit: contain;
}

.car-thumbnails img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    -o-object-fit: contain;
}

.model-thumb{
    width: 88px;
    height: 88px;
}

.form-control.error{
    border:1px solid red;
}

.bootstrap-datetimepicker-widget .day.disabled{
    color: #cccccc;
}

.bootstrap-datetimepicker-widget .day.disabled:hover{
    color: #cccccc;
}

#calcApp a{
    text-decoration: underline;
}

#calcApp p>a:hover, #calcApp p>a:active, #calcApp p>a:focus{
    color: darkorange;
}

.arenda-content p>a:hover, .page-section p>a:active, .page-section p>a:focus{
    color: darkorange;
}

section.arenda-content ul{
    list-style: disc;
    padding-left: 40px;
    margin-left: 10px;
}

section.arenda-content ul li{
    line-height: 25px;
}

section.arenda-content{
    padding-top: 0;
}


.tooltip > .tooltip-inner {
    background-color: #ff6600;
    color: #FFFFFF;
    padding: 15px;
    max-width: 550px;
}

/* для iframe */
.google-map iframe{
    pointer-events: none;
}

.google-map iframe.clicked{
    pointer-events: auto;
}