table th {text-align: center;}
table .visible {color:green;}
table .unvisible {color:grey;}
.padding-top-7 {padding-top:7px; display: block;}

.controls {
    font-size: 0;
    height: 20px;
    letter-spacing: -1px;
    line-height: 0;
    text-align: center;
    width: 100px;
}
.fullleft, .oneleft, .fullright, .oneright, #deletebutton {
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
}
#deletebutton {
    background-image: url("/images/admin/delete.png");
    height: 16px;
    width: 16px;
}
.fullleft {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.oneleft {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 -39px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.fullright {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 -18px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.oneright {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 -60px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}

.delete_features{
	float:right;
	cursor:pointer;

}

.btn-responsive {white-space: normal; word-wrap: break-word;}

table.orders {font-size: 80%;}

.widget-main .tab-content {border: 1px solid #c5d0dc;}
.edit_order .nav-tabs > li > a {padding: 2px 8px 2px; font-size:90%; line-height: 90%;}
.white-td {border-width:0px !important; background:white !important;}
table.quantity { width:100%; font-size:90%; font-weight: normal;}
.widget-body table.quantity thead tr {background: none !important;}
.edit_order .tab-content {padding:3px;}
table.quantity td, table.quantity th {padding:2px; border-right:1px dotted #999;  text-align: center !important; font-weight: normal; background: none;}
table.quantity tbody tr {border-top:1px dotted #999;}
table.quantity select {height: 24px; padding:0 2px;}

.main-page .btn.btn-app {
    padding: 12px 5px 9px;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
}

input:disabled, textarea:disabled, option:disabled, optgroup:disabled, select:disabled:disabled  {background: #ccc;}

button.deletebutton{
    background:none;
    border:none;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: 0 0 !important;
}

.tag-input-style+.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-color: rgba(0,0,0,.2) !important;
}

#photos ul.photos{
    margin-top:15px;
}

#photos ul.photos li:first-child{
    /*margin-right: 20px*/
    position: relative;
}
/*
#photos ul.photos li:first-child > a:before{
    position: absolute;
    top: 0;
    left: -6px;
    width: 166px;
    background-color: rgba(0,0,0,.55);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    content: 'LOGO';
        display: flex;
    justify-content:center;
        font-size: 15px;
    letter-spacing: 1px;
    align-items:center;
    color: white;
}

#photos ul.photos li:first-child:hover > a:before{
        left: 24px;
}
*/

.ace-thumbnails>li{
    margin:0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.margin-b-m-15{
    margin-bottom: -15px;
}

.margin-t-m-15{
    margin-top: -15px;
}


.ace-thumbnails.photos{
    margin-top: 15px;
}

.spinner {
    display: none;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 )
    url('images/ajax-loader.gif')
    50% 50%
    no-repeat;
}

.min-spinner {
    display: none;
}

.btn.btn-link.font-black { 
color: rgb(57, 57, 57) !important; 
text-decoration: none; 
cursor: default; 
} 

.btn.btn-link.font-black:hover { 
color: rgb(57, 57, 57); 
} 

.close-modal{ 
position: absolute; 
top: -15px; 
right: -15px; 
z-index: 2; 
padding: 5px 8px; 
cursor: pointer; 
color: rgb(91,91,91); 
background-color: white; 
border: 1px solid rgb(245, 245, 245); 
box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px; 
}

#ask_question .modal-content { padding: 30px 12% 30px; }

#ask_question .modal-content .ask_title { margin-top: 10px; margin-bottom: 35px; text-align: center; display: block; padding-left: 50px; padding-right: 50px; font-weight: 700; font-size: 13px; letter-spacing: 0.5px; color: rgb(91,91,91); text-transform: uppercase; }

#ask_question .modal-content textarea{ height: 150px; resize: vertical; width: 100%; margin-bottom: 5px; padding:10px;}

#ask_question .modal-content form > div { margin-top: 30px; display: block; text-align: right; }

#ask_question .modal-content form .form-group.has-success textarea { border-color: #a8a8a8; color: #858585;}

#ask_question .modal-content form .form-group.has-success textarea:focus{ background-color: white; }

@media(max-width: 767px){
    #ask_question .modal-content { padding: 20px 6% 20px; }
}